
@font-face { 
    font-family: "LighthausRegular";
    src: url("../fonts/LighthausRegular/LighthausRegular.eot");
    src: url("../fonts/LighthausRegular/LighthausRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LighthausRegular/LighthausRegular.woff") format("woff"),
    url("../fonts/LighthausRegular/LighthausRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

//  font-family: 'Montserrat', sans-serif;